# node modules
node_modules/

# datasets
*.csv

# compressed files
# *.7z
# *.tar.xz
# *.zip

# Log files
*.log

# Compiled Python bytecode
*.py[cod]
*.pyc
__pycache__/

# model weights
*.hdf5

# system objects
*.ocula_finance