# node modules
node_modules/

# datasets
*.csv

# compressed files
*.7z
*.tar.xz
*.zip

# Log files
*.log

# Compiled Python bytecode
*.py[cod]
*.pyc
__pycache__/
server/__pycache__

# model weights
*.hdf5

# system objects
*.ocula_finance

# classified folder
classified/

# secret files
ai_key_changer.py
code_encryptor.py
code_file_validation.py
dec_data.py
dec_feature_engineering.py
dec_predict.py
dec_train.py
generate_key.py
x_feature_engineering.py
x_y_feature_engineering.py
y_feature_engineering.py
x_y_train.py
x_y_predict.py